<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vote</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript">
      window.history.forward();
      function noBack() {
          window.history.forward();
      }
  </script>
</head>

<body>
  <div class="box" id="heading">
    <h1> <%= kindOfElection%></h1>
  </div>

  <div class="container mx-auto mt-4">

    <div class="row">
            <%for(var i=0;i<candidate.length;i++){%>
      <div class="col-md-6">
        <div class="card" style="width: 28rem;">
            <img src="<%= image[i] %>" />
            <!-- <img src="<%= image[i]%>" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><%= candidate[i] %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <form class="" action="/votepost" method="post">
              <button class="btn btn-primary" type="submit" name="button" value="<%= i%>">Vote</button>
            </form>
          </div>
        </div>
      </div>
        <% } %>
    </div>

  </div>


</body>

</html>
